<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/TalentPro_UnityDev1/DisposableMailGenerator"><classes><class name="Testcases.TestDisposableMail"><methods><include name="getOtpFromDisposableMail"/></methods></class></classes></test></suite>